{% extends "base.html" %}

{% block content %}
<h1 class="column is-4 is-offset-4">
    <h1 class="title">Create Page</h1>
    	{% with messages = get_flashed_messages() %}
	    {% if messages %}
    		<div class="notification is-danger">
        		{{ messages[0] }}
    		</div>
	    {% endif %}
	    {% endwith %}
        {% for exercise in exercises %}
            <div class="draggable-exercise" draggable="true" ondragstart="onDragStart(event);">
                {{exercise.name}}

            </div>
        {% endfor %}
        <div class="example-dropzone" ondragover="onDragOver(event);" ondrop="onDrop(event);">
            Workout
        </div>
</div>
{% endblock %}