{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title"> <font size="+5"> {{ workout_name.title() }} Editor </font> </h3>
    {% with messages = get_flashed_messages() %}
	    {% if messages %}
    		<div class="notification is-danger">
        		{{ messages[0] }}
    		</div>
	    {% endif %}
    {% endwith %}

    {% for exercise in exercises %}
        <form method="POST" action="/append/{{ workout_name }}/{{ exercise['name'] }}">
            <div class="field">
                <div class="control">
                    {{ exercise['name'].title() }}
                    <input class="input" type="order" name="order" placeholder="Order" autofocus="">
                    <input class="input" type="weight" name="weight" placeholder="Weight Ratio" autofocus="">
                    <input class="input" type="reps" name="reps" placeholder="Repetitions" autofocus="">
                    <input class="input" type="sets" name="sets" placeholder="Sets" autofocus="">
                    <input class="input" type="time" name="time" placeholder="Time" autofocus="">
                    <button class="button">Add</button>
                </div>
            </div>
        </form>
    {% endfor %}
</div>
{% endblock %}