{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title"> <font size="+7"> Workouts </font> </h3>
    	{% with messages = get_flashed_messages() %}
	        {% if messages %}
    		    <div class="notification is-danger">
        		    {{ messages[0] }}
    		    </div>
	        {% endif %}
	    {% endwith %}
        <div>
            Enter your weight after completing the respective workout!
        </div>
        <div>
            Note: You can only track your progress ONCE per day, fill out workout and enter weight with caution.
        </div>
        {% for workout in workouts %}
            <form method="POST" action="/track/{{ workout['name'] }}">
            <div class="field">
                <font size="+5"> {{ workout['name'].title() }} </font>
                    {% for exercise in workout['exercises'] %}
                        <div class="control">
                            <font size="+1"> {{ loop.index }}) {{ exercise['name'].title() }} </font>
                        </div>

                        {% if exercise['weight'] is not none %}
                        <div class="control">
                            <p style="margin-left:10%"> Weight Ratio: {{ exercise['weight'] }} </p>
                        </div>
                        {% endif %}

                        {% if exercise['reps'] is not none %}
                        <div class="control">
                            <p style="margin-left:10%"> Repititions: {{ exercise['reps'] }} </p>
                        </div>
                        {% endif %}

                        {% if exercise['sets'] is not none %}
                        <div class="control">
                            <p style="margin-left:10%"> Sets: {{ exercise['sets'] }} </p>
                        </div>
                        {% endif %}

                        {% if exercise['time'] is not none %}
                        <div class="control">
                            <p style="margin-left:10%"> Time: {{ exercise['time'] }} </p>
                        </div>
                        {% endif %}
                    {% endfor %}
            </div>
            <input class="input" type="weight" name="weight" placeholder="Today's Weight after {{ workout['name'].title() }}" autofocus="">
            <button class="button">Track</button>
            </form>
        {% endfor %}
        <div>
            *Weight Ratio is relative to your body weight
        </div>
        <div>
            e.g.
            Your Weight = 150lb & Weight Ratio = 0.5
        </div>
        <div>
            Intended Weight Use: 75lb </p>
        </div>
</div>
{% endblock %}